@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  position: relative;
  z-index: 2;
}
body {
  background-color: #333;
  color: #333;
  font-family: 'Sevillana', cursive;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a img {
  position: absolute;
  top: 20px;
  left:20px;
  border-radius: 15px;
}
a img:hover {
  scale: 1.5;
  transition: 0.5s ease-in-out
}
#quote-box {
  border-radius: 3px;
  position: relative;
  width: 500px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  border-radius: 20px;
}
#quote-box .quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 2em;
}
#quote-box .quote-text i {
  font-size: 1em;
  margin-right: 0.4em;
  text-align: center;
}
#quote-box .quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1.5em;
  text-align: center;
}
#quote-box .buttons {
  width: 450px;
  margin: auto;
  display: block;
}
#quote-box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 0.7;
  cursor: pointer;
  border-radius:10px;
}
#quote-box .buttons .button:hover {
  opacity: 1;
}
#quote-box .buttons .button#tweet-quote{
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}
#quote-box .buttons .button#new-quote {
  float: right;
}